.layout {
  display: grid;
  grid-template-rows: repeat(2, minmax(6.25rem, 1fr));
  grid-template-columns: repeat(2, minmax(6.25rem, 1fr));
  gap: 1rem;
  place-items: stretch stretch;
  max-width: 60rem;
  margin-inline: auto;
}

.gamut-slider {
  position: relative;
  display: grid;
  place-items: stretch stretch;
  aspect-ratio: 1 / 1;
  background-color: oklch(95% 0 0deg);

  > * {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
}

.control {
}
