*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: oklch(99% 0 0deg);
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

canvas {
  display: block;
}

.palette {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  place-items: center stretch;
  padding: 0.5rem;
}

.swatch {
  grid-row: 2;
  height: 5.5rem;
}
